
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;700&family=STIX+Two+Math&display=swap');

body {
    font-family: 'STIX Two Text', serif;
    line-height: 1.8;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #2f66a1; 
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

article {
    background-color: white;
    font-size: 1.2rem;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

article h2 {
    font-size: 2.5rem;
    color: #2f66a1; /* Matches the header color */
    margin-top: 0;
}

article p {
    font-size: 1.2rem;
    color: #555;
}


.MathJax, .katex {
    font-family: 'STIX Two Math', 'STIX Two Text', serif !important;
}

a {
    color: #2f66a1; 
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2f66a1;
    color: white;
}

.qed {
    float: right;
    display: inline;
    font-size: 1.2rem;
    color: #555;
}

.night-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.night-mode header {
    background-color: #0d0d0d;
}

.night-mode article {
    background-color: #1f1f1f;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
}

.night-mode article h2 {
    color: #fff;
}

.night-mode article p {
    color: #ccc;
}

.night-mode footer {
    background-color: #0d0d0d;
}

.night-mode a {
    color: #61afef;
}

.night-mode a:hover {
    color: #3a8fe9;
}

.night-mode .qed {
    color: #aaa;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    article h2 {
        font-size: 2rem;
    }

    article p {
        font-size: 1rem;
    }

    .container {
        padding: 10px;
    }
}

summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

summary::marker {
  display: none;
}

summary::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10.4px solid currentColor;
  transition: transform 0.2s ease;
  display: inline-block;
  transform: translateY(-1px) rotate(0deg); /* lift it slightly */
}

details[open] summary::before {
  transform: translateY(-1px) rotate(180deg);
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}